In [1]:
import numpy as np
import pandas as pd

In [2]:
a=1000
print(int(a*0.2))

200

In [3]:
names = ['sd','fa','fa','fg','ga']
births = [968,155,77,578,973]
DataSet = list(zip(names,births))
DataSet
df = pd.DataFrame(data = DataSet ,columns=['name','birth'])
df

  name  birth
0   sd    968
1   fa    155
2   fa     77
3   fg    578
4   ga    973

In [5]:
df.to_csv('./test.csv', index=False, header=False)

In [2]:
def to_csv(data,label,filename):
    DataSet = list(zip(data,label))
    df = pd.DataFrame(data = DataSet )
    df.to_csv(filename,index=False, header=False,sep='$')

In [34]:
to_csv(names,births,'./testa.csv',sep="+++$+++")

In [5]:
def split_train_dev(filename):
    data=open(filename,'r',encoding='utf-8').readlines()
    x_text=[]
    labels=[]
    for t in data:
        sp=t.split('+++$+++')
        labels.append(int(sp[0].strip()))
        x_text.append(sp[1].strip())
    size=len(labels)
    dev_size=int(size*0.1)
    dev_data=x_text[:dev_size]
    dev_label=labels[:dev_size]
    
    train_data=x_text[dev_size:]
    train_label=labels[dev_size:]
    
    to_csv(train_data,train_label,'./data/train.csv')
    to_csv(dev_data,dev_label,'./data/dev.csv')

#     to_csv(train_data,train_label,'./data/train.csv')
#     to_csv(dev_data,dev_label,'./data/dev_csv')

In [6]:
split_train_dev('./data/training_label.csv')